.header_fullscreen:before {
  background-color: var(--theme-color-inverse_bd_color);
}

.post_header_wrap_style_style-1.with_featured_image:before {
  background-color: var(--theme-color-extra_bg_color);
  opacity: 0.37;
}

.post_header_single .post_meta.post_meta_categories a:not(.post_sponsored_label) {
  background-color: var(--theme-color-text_link2);
}

.sc_layouts_title_breadcrumbs {
  margin-top: 1.2em;
}

.sc_layouts_title .breadcrumbs {
  font-size: 19px;
  text-transform: none;
  letter-spacing: 0;
}

.sc_title .sc_item_subtitle {
  opacity: 1;
  color: var(--theme-color-text);
}
.sc_title.color_style_dark .sc_item_subtitle {
  color: var(--theme-color-text_dark);
}

.sc_button.sc_button_simple.color_style_dark:not(.sc_button_bg_image):hover,
.sc_button.sc_button_simple.color_style_dark:not(.sc_button_bg_image):focus,
.color_style_dark .sc_button.sc_button_simple:not(.sc_button_bg_image):hover,
.color_style_dark .sc_button.sc_button_simple:not(.sc_button_bg_image):focus {
  color: var(--theme-color-text_dark) !important;
}

.sc_layouts_row_type_normal .sc_layouts_item .trx_addons_alter_text, .sc_layouts_row_type_normal .sc_layouts_item .trx_addons_alter_text > a,
[class*="scheme_"].sc_layouts_row_type_normal .trx_addons_alter_text,
[class*="scheme_"].sc_layouts_row_type_normal .trx_addons_alter_text > a {
  color: var(--theme-color-text_dark) !important;
}

ul[class*="trx_addons_list"] > li:before {
  color: var(--theme-color-text_link2);
}

.search-no-results .page_content_wrap,
.error404 .page_content_wrap {
  background-color: var(--theme-color-bg_color);
}

.error404 .post_content {
  padding: 4.5em 0 6.7em;
}
.error404 .page_title {
  letter-spacing: -8.1px;
  color: var(--theme-color-text_link2);
}
.error404 .page_subtitle {
  margin: 0;
  color: var(--theme-color-text_link2);
}

.post_item_404 .post_content .all-svg {
  display: none;
}

.map_marker {
  background-color: var(--theme-color-text_link2);
}
.map_marker > div {
  background-color: var(--theme-color-text_link2_05);
}

.wc-block-product-search .wc-block-product-search__fields:after,
.widget_search form.search-form:after,
.woocommerce.widget_product_search form:after,
.widget_display_search form:after,
#bbpress-forums #bbp-search-form:after {
  content: '\EA2B';
}

.search_wrap .search_submit:before {
  content: '\EA2B';
}

.search_modern .search_header_wrap .logo_image {
  max-height: 55px;
  top: 56px;
}
.search_modern .search_form_wrap .search_submit:before {
  content: '\EA2B';
}
.search_modern > .search_submit:before {
  content: '\EA2B';
  font-size: 23px !important;
}

.sc_layouts_item_details_line1,
.sc_layouts_item_details_line2,
[class*="scheme_"] .sc_layouts_item_details_line1,
[class*="scheme_"] .sc_layouts_item_details_line2 {
  font-size: 19px;
  font-weight: 700;
  letter-spacing: -0.38px;
  color: var(--theme-color-text_dark);
}

.sc_layouts_item_icon {
  font-size: 18px;
  line-height: 1em;
  color: var(--theme-color-text_dark);
}
.sc_layouts_item_icon + .sc_layouts_item_details {
  margin-left: 0.6em;
}

.sc_layouts_cart:not(.modern) .sc_layouts_cart_widget .total {
  border-color: #31302D !important;
}

.woocommerce.widget_shopping_cart .total,
.woocommerce-page.widget_shopping_cart .total,
.woocommerce .widget_shopping_cart .total,
.woocommerce-page .widget_shopping_cart .total {
  color: var(--theme-color-text_link2);
}

.woocommerce.widget_shopping_cart .total .amount,
.woocommerce-page.widget_shopping_cart .total .amount,
.woocommerce .widget_shopping_cart .total .amount,
.woocommerce-page .widget_shopping_cart .total .amount {
  color: var(--theme-color-text_dark);
}

.woocommerce a.remove:hover:after {
  color: var(--theme-color-text_link2);
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: var(--theme-color-bd_color);
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: var(--theme-color-text_link2);
}

.woocommerce_status_bar .active .num {
  background-color: var(--theme-color-text_link2);
}

.shop_table_checkout_review table tr.order-total *,
.shop_table_checkout_review table tr.order-total span.amount {
  color: var(--theme-color-alter_link2);
}

.woocommerce ul.products li.product .onsale,
.woocommerce-page ul.products li.product .onsale {
  background-color: var(--theme-color-text_link2);
}

.woocommerce table.shop_table td {
  border-color: var(--theme-color-bd_color) !important;
}

.woocommerce .woocommerce-cart-form table.shop_table .cart-coupon-inner {
  border-color: var(--theme-color-bd_color);
}

.woocommerce .cart_totals table.shop_table tr td,
.woocommerce .cart_totals table.shop_table tr th {
  border-color: var(--theme-color-bd_color) !important;
}

.woocommerce table.shop_attributes {
  border-top: 1px solid var(--theme-color-bd_color);
}

.woocommerce table.shop_attributes tr:nth-child(2n+1) > * {
  border-bottom: 1px solid var(--theme-color-bd_color);
}

.woocommerce table.shop_attributes th,
.woocommerce table.shop_attributes td {
  border-bottom: 1px solid var(--theme-color-bd_color);
}

.categories_list_style_5 .categories_list_info_wrap:before {
  background: var(--theme-color-extra_bg_color);
  background: linear-gradient(0deg, var(--theme-color-extra_bg_color_06) 20%, var(--theme-color-extra_bg_color_03) 70%);
  background: -moz-linear-gradient(0deg, var(--theme-color-extra_bg_color_06) 20%, var(--theme-color-extra_bg_color_03) 70%);
  background: -webkit-linear-gradient(0deg, var(--theme-color-extra_bg_colo_06) 20%, var(--theme-color-extra_bg_color_03) 70%);
  background: linear-gradient(0deg, var(--theme-color-extra_bg_color_06) 20%, var(--theme-color-extra_bg_color_03) 70%);
}

.categories_list_style_6 .categories_list_info_wrap:before {
  opacity: 0.6;
  background: var(--theme-color-extra_bg_color);
  background: linear-gradient(0deg, var(--theme-color-extra_bg_color) 0%, var(--theme-color-extra_bg_color_00) 55%);
  background: -moz-linear-gradient(0deg, var(--theme-color-extra_bg_color) 0%, var(--theme-color-extra_bg_color_00) 55%);
  background: -webkit-linear-gradient(0deg, var(--theme-color-extra_bg_colo) 0%, var(--theme-color-extra_bg_color_00) 55%);
  background: linear-gradient(0deg, var(--theme-color-extra_bg_color) 0%, var(--theme-color-extra_bg_color_00) 55%);
}
.categories_list_style_6 .categories_list_item:hover .categories_list_info_wrap:before {
  opacity: 0.6;
}

.sc_slider_controls.slider_pagination_style_bullets .slider_pagination_bullet,
.slider_container .slider_pagination_wrap .swiper-pagination-bullet,
.slider_outer .slider_pagination_wrap .swiper-pagination-bullet,
.swiper-pagination-custom .swiper-pagination-button {
  background-color: transparent;
}

.swiper-pagination-custom .swiper-pagination-button.swiper-pagination-button-active,
.sc_slider_controls.slider_pagination_style_bullets .slider_pagination_bullet.swiper-pagination-bullet-active,
.sc_slider_controls.slider_pagination_style_bullets .slider_pagination_bullet:hover,
.slider_container .slider_pagination_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active,
.slider_outer .slider_pagination_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active,
.slider_container .slider_pagination_wrap .swiper-pagination-bullet:hover,
.slider_outer .slider_pagination_wrap .swiper-pagination-bullet:hover {
  border-color: var(--theme-color-text_link2);
  background-color: var(--theme-color-text_link2);
}

.elementor-toggle .elementor-tab-title.elementor-active .elementor-toggle-icon i:before {
  color: var(--theme-color-text_link2);
}

.tabs_style_2.elementor-widget-tabs .elementor-tab-title:not(.elementor-tab-title.elementor-active):hover {
  background-color: var(--theme-color-alter_bg_hover);
}

#style-9.mc4wp-form .mc4wp-form-fields input[type="email"] {
  border-color: var(--theme-color-bd_color);
}
#style-9.mc4wp-form input[type="checkbox"] + label:before {
  background-color: var(--theme-color-bg_color) !important;
}

.sc_testimonials_decoration .sc_testimonials_item_author_subtitle {
  opacity: 0.7;
}

.sc_testimonials_chit .sc_testimonials_item_author_data .sc_testimonials_item_author_subtitle,
.sc_testimonials_chit .sc_testimonials_item_author_data .sc_testimonials_item_author_title + .sc_testimonials_item_author_subtitle {
  color: var(--theme-color-text_light);
}

.sc_testimonials_chit .slider_container.slider_pagination_pos_bottom .swiper-pagination-bullets .swiper-pagination-bullet,
.sc_testimonials_chit .slider_outer.slider_outer_pagination_pos_bottom .swiper-pagination-bullets .swiper-pagination-bullet,
.sc_testimonials_chit .slider_outer.slider_outer_pagination_pos_bottom_outside .swiper-pagination-bullets .swiper-pagination-bullet {
  background-color: var(--theme-color-bd_color);
  border-color: var(--theme-color-bd_color);
}

.sc_testimonials_chit .swiper-pagination-custom .swiper-pagination-button.swiper-pagination-button-active,
.sc_testimonials_chit .sc_slider_controls.slider_pagination_style_bullets .slider_pagination_bullet.swiper-pagination-bullet-active,
.sc_testimonials_chit .sc_slider_controls.slider_pagination_style_bullets .slider_pagination_bullet:hover,
.sc_testimonials_chit .slider_container .slider_pagination_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active,
.sc_testimonials_chit .slider_outer .slider_pagination_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active,
.sc_testimonials_chit .slider_container .slider_pagination_wrap .swiper-pagination-bullet:hover,
.sc_testimonials_chit .slider_outer .slider_pagination_wrap .swiper-pagination-bullet:hover {
  border-color: var(--theme-color-text_link2);
  background-color: var(--theme-color-text_link2);
}

.sc_testimonials_simple .sc_testimonials_item_content:before,
.sc_testimonials_simple [class*="column"] .sc_testimonials_item_content:before {
  content: '\EA4F';
}

.sc_testimonials_simple .slider_container .swiper-pagination-bullet,
.sc_testimonials_simple .slider_outer .swiper-pagination-bullet {
  border-color: var(--theme-color-bd_color);
  background-color: transparent;
}

.sc_testimonials_simple .swiper-pagination-custom .swiper-pagination-button.swiper-pagination-button-active,
.sc_testimonials_simple .sc_slider_controls.slider_pagination_style_bullets .slider_pagination_bullet.swiper-pagination-bullet-active,
.sc_testimonials_simple .sc_slider_controls.slider_pagination_style_bullets .slider_pagination_bullet:hover,
.sc_testimonials_simple .slider_container .slider_pagination_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active,
.sc_testimonials_simple .slider_outer .slider_pagination_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active,
.sc_testimonials_simple .slider_container .slider_pagination_wrap .swiper-pagination-bullet:hover,
.sc_testimonials_simple .slider_outer .slider_pagination_wrap .swiper-pagination-bullet:hover {
  border-color: var(--theme-color-text_link2);
  background-color: var(--theme-color-text_link2);
}

.sc_testimonials_alter [class*="column"] .sc_testimonials_item_author:before,
.sc_testimonials_alter .sc_testimonials_item_author:before {
  color: var(--theme-color-text_link);
}

.sc_testimonials_alter .slider_container.slider_pagination_pos_bottom .swiper-pagination-bullets .swiper-pagination-bullet,
.sc_testimonials_alter .slider_outer.slider_outer_pagination_pos_bottom .swiper-pagination-bullets .swiper-pagination-bullet,
.sc_testimonials_alter .slider_outer.slider_outer_pagination_pos_bottom_outside .swiper-pagination-bullets .swiper-pagination-bullet {
  border-color: var(--theme-color-bd_color);
  background-color: transparent;
}

.sc_testimonials_alter .swiper-pagination-custom .swiper-pagination-button.swiper-pagination-button-active,
.sc_testimonials_alter .sc_slider_controls.slider_pagination_style_bullets .slider_pagination_bullet.swiper-pagination-bullet-active,
.sc_testimonials_alter .sc_slider_controls.slider_pagination_style_bullets .slider_pagination_bullet:hover,
.sc_testimonials_alter .slider_container .slider_pagination_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active,
.sc_testimonials_alter .slider_outer .slider_pagination_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active,
.sc_testimonials_alter .slider_container .slider_pagination_wrap .swiper-pagination-bullet:hover,
.sc_testimonials_alter .slider_outer .slider_pagination_wrap .swiper-pagination-bullet:hover {
  border-color: var(--theme-color-text_link2);
  background-color: var(--theme-color-text_link2);
}

.sc_testimonials_fashion .slider_controls_wrap > a.slider_next,
.sc_testimonials_fashion .slider_controls_wrap > a.slider_prev {
  border-color: var(--theme-color-alter_bg_color);
  background-color: var(--theme-color-alter_bg_color) !important;
}

.sc_blogger_default.sc_blogger_default_classic_3 .sc_blogger_item_default.sc_blogger_item_on_plate.sc_blogger_item_image_position_top:hover .sc_blogger_item_header {
  border-color: var(--theme-color-text_link);
}

.sc_blogger_default.sc_blogger_default_classic .slider_container.slider_pagination_pos_bottom .swiper-pagination-bullets .swiper-pagination-bullet,
.sc_blogger_default.sc_blogger_default_classic .slider_outer.slider_outer_pagination_pos_bottom .swiper-pagination-bullets .swiper-pagination-bullet,
.sc_blogger_default.sc_blogger_default_classic .slider_outer.slider_outer_pagination_pos_bottom_outside .swiper-pagination-bullets .swiper-pagination-bullet {
  border-color: var(--theme-color-bd_color);
  background-color: var(--theme-color-bd_color);
}

.sc_blogger_default.sc_blogger_default_classic .swiper-pagination-custom .swiper-pagination-button.swiper-pagination-button-active,
.sc_blogger_default.sc_blogger_default_classic .sc_slider_controls.slider_pagination_style_bullets .slider_pagination_bullet.swiper-pagination-bullet-active,
.sc_blogger_default.sc_blogger_default_classic .sc_slider_controls.slider_pagination_style_bullets .slider_pagination_bullet:hover,
.sc_blogger_default.sc_blogger_default_classic .slider_container .slider_pagination_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active,
.sc_blogger_default.sc_blogger_default_classic .slider_outer .slider_pagination_wrap .swiper-pagination-bullet.swiper-pagination-bullet-active,
.sc_blogger_default.sc_blogger_default_classic .slider_container .slider_pagination_wrap .swiper-pagination-bullet:hover,
.sc_blogger_default.sc_blogger_default_classic .slider_outer .slider_pagination_wrap .swiper-pagination-bullet:hover {
  border-color: var(--theme-color-text_link2);
  background-color: var(--theme-color-text_link2);
}

.sc_blogger_classic-masonry.sc_blogger_classic-masonry_default .post_layout_classic-masonry .post_header:before {
  background-color: var(--theme-color-text_link);
}

.sc_blogger_default.sc_blogger_default_classic_time .post_meta.sc_blogger_item_meta.post_meta_date .post_date {
  background-color: var(--theme-color-text_link);
}

.slider_width_auto .sc_portfolio.sc_portfolio_default .sc_portfolio_slider .slider_container .slider-wrapper.sc_item_columns_4 .swiper-slide .post_featured_bg:before {
  padding-top: 24.9rem;
}

.sc_portfolio.sc_portfolio_extra .sc_portfolio_item .post_featured .post_info .post_title {
  background-color: var(--theme-color-bg_color);
}
.sc_portfolio.sc_portfolio_extra .sc_portfolio_item .post_featured .post_info .post_title a {
  color: var(--theme-color-text_dark) !important;
}
.sc_portfolio.sc_portfolio_extra .sc_portfolio_item .post_featured .post_info .post_meta .post_categories {
  background-color: var(--theme-color-bg_color);
}
.sc_portfolio.sc_portfolio_extra .sc_portfolio_item .post_featured .post_info .post_meta .post_categories a, .sc_portfolio.sc_portfolio_extra .sc_portfolio_item .post_featured .post_info .post_meta .post_categories span {
  color: var(--theme-color-text_dark) !important;
}
.sc_portfolio.sc_portfolio_extra.sc_portfolio_eclipse .sc_portfolio_item .post_featured .mask {
  background-color: var(--theme-color-bg_color);
}

.sc_blogger_lay_portfolio_grid.sc_blogger_lay_portfolio_grid_grid_style_7 .sc_blogger_item .sc_blogger_item_body .post_featured .post_info_bl .sc_blogger_item_title {
  background-color: var(--theme-color-bg_color);
}
.sc_blogger_lay_portfolio_grid.sc_blogger_lay_portfolio_grid_grid_style_7 .sc_blogger_item .sc_blogger_item_body .post_featured .post_info_bl .sc_blogger_item_title a {
  color: var(--theme-color-text_dark) !important;
}
.sc_blogger_lay_portfolio_grid.sc_blogger_lay_portfolio_grid_grid_style_7 .sc_blogger_item .sc_blogger_item_body .post_featured .post_info_bl .post_meta .post_categories {
  background-color: var(--theme-color-bg_color);
}
.sc_blogger_lay_portfolio_grid.sc_blogger_lay_portfolio_grid_grid_style_7 .sc_blogger_item .sc_blogger_item_body .post_featured .post_info_bl .post_meta .post_categories a, .sc_blogger_lay_portfolio_grid.sc_blogger_lay_portfolio_grid_grid_style_7 .sc_blogger_item .sc_blogger_item_body .post_featured .post_info_bl .post_meta .post_categories span {
  color: var(--theme-color-text_dark) !important;
}

.sc_blogger_lay_portfolio_grid.sc_blogger_lay_portfolio_grid_grid_style_8 .sc_blogger_item .sc_blogger_item_body .post_featured .post_info_bc:before {
  background-color: var(--theme-color-text_link2);
}

.sc_blogger_lay_portfolio_grid.sc_blogger_lay_portfolio_grid_grid_style_9 .sc_blogger_item .sc_blogger_item_body .post_featured .post_info_bl .sc_blogger_item_title {
  background-color: var(--theme-color-bg_color);
}
.sc_blogger_lay_portfolio_grid.sc_blogger_lay_portfolio_grid_grid_style_9 .sc_blogger_item .sc_blogger_item_body .post_featured .post_info_bl .sc_blogger_item_title a {
  color: var(--theme-color-text_dark) !important;
}
.sc_blogger_lay_portfolio_grid.sc_blogger_lay_portfolio_grid_grid_style_9 .sc_blogger_item .sc_blogger_item_body .post_featured .post_info_bl .post_meta .post_categories {
  background-color: var(--theme-color-bg_color);
}
.sc_blogger_lay_portfolio_grid.sc_blogger_lay_portfolio_grid_grid_style_9 .sc_blogger_item .sc_blogger_item_body .post_featured .post_info_bl .post_meta .post_categories a, .sc_blogger_lay_portfolio_grid.sc_blogger_lay_portfolio_grid_grid_style_9 .sc_blogger_item .sc_blogger_item_body .post_featured .post_info_bl .post_meta .post_categories span {
  color: var(--theme-color-text_dark) !important;
}

.sc_icons_divider .sc_icons_item_title {
  font-size: 1.3em;
  line-height: 1.2em;
}

.sc_icons_divider4 .slider-wrapper .sc_icons_item:after,
.sc_icons_divider4 .sc_icons_columns_wrap .sc_icons_item:after {
  display: none;
}
.sc_icons_divider4 .sc_icons_item_description {
  color: var(--theme-color-text_dark);
}

.sc_icons_decoration:not(.color_style_dark) .sc_icons_item_linked:hover .sc_icons_icon {
  color: var(--theme-color-text_link);
}
.sc_icons_decoration:not(.color_style_dark) .sc_icons_item:hover .sc_icons_item_more_link .link_icon:before,
.sc_icons_decoration:not(.color_style_dark) .sc_icons_item .sc_icons_item_more_link:hover .link_icon:before {
  color: var(--theme-color-alter_link2);
}
.sc_icons_decoration:not(.color_style_dark).color_style_link2 .sc_icons_item_linked:hover .sc_icons_icon {
  color: var(--theme-color-text_link2);
}
.sc_icons_decoration:not(.color_style_dark).color_style_link2 .sc_icons_item:hover .sc_icons_item_more_link .link_icon:before,
.sc_icons_decoration:not(.color_style_dark).color_style_link2 .sc_icons_item .sc_icons_item_more_link:hover .link_icon:before {
  color: var(--theme-color-alter_link);
}
.sc_icons_decoration:not(.color_style_dark).color_style_link3 .sc_icons_item_linked:hover .sc_icons_icon {
  color: var(--theme-color-text_link3);
}
.sc_icons_decoration:not(.color_style_dark).color_style_link3 .sc_icons_item:hover .sc_icons_item_more_link .link_icon:before,
.sc_icons_decoration:not(.color_style_dark).color_style_link3 .sc_icons_item .sc_icons_item_more_link:hover .link_icon:before {
  color: var(--theme-color-alter_link3);
}

.sc_icons_creative .sc_icons_item .sc_icons_decoration_bg svg.decor-svg {
  fill: var(--theme-color-alter_bg_color) !important;
}

.sc_skills_counter_alter .sc_skills_item_title {
  color: var(--theme-color-text_dark);
}

.sc_price_metro .sc_price_item.sc_price_active {
  -webkit-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}

.sc_price_light .sc_price_item_description ul li:after,
.sc_price_light .sc_price_item_details ul li:after {
  color: var(--theme-color-text_link2);
}
.sc_price_light .sc_price_item:not(.sc_price_active) {
  background-color: var(--theme-color-bg_color);
  border-color: var(--theme-color-bd_color);
}
.sc_price_light .sc_price_item:not(.sc_price_active) .sc_price_item_price {
  color: var(--theme-color-text_link2);
}
.sc_price_light .sc_price_item:not(.sc_price_active) .sc_price_item_link {
  color: var(--theme-color-text_link);
  border-color: var(--theme-color-text_link);
}
.sc_price_light .sc_price_item:hover .sc_price_item_link {
  color: var(--theme-color-inverse_link);
}
.sc_price_light .sc_price_active .sc_price_item_price {
  color: var(--theme-color-alter_dark);
}

.footer_wrap .sc_layouts_row_type_compact .sc_socials.sc_socials_default .socials_wrap .social_item .social_icon {
  border-color: var(--theme-color-bd_color);
}

.footer_wrap .sc_layouts_row_type_normal .sc_socials.sc_socials_names:not(.alter) .socials_wrap .social_item {
  font-weight: 700;
}

[class*="scheme_"].sidebar .sc_layouts_row_type_compact .sc_socials.sc_socials_default.modern_2 .socials_wrap .social_item .social_icon,
[class*="scheme_"].sidebar .sc_layouts_row_type_compact .sc_socials.sc_socials_default.modern .socials_wrap .social_item .social_icon,
[class*="scheme_"].footer_wrap .sc_layouts_row_type_compact .sc_socials.sc_socials_default.modern_2 .socials_wrap .social_item .social_icon,
[class*="scheme_"].footer_wrap .sc_layouts_row_type_compact .sc_socials.sc_socials_default.modern .socials_wrap .social_item .social_icon {
  background-color: var(--theme-color-alter_bg_color) !important;
}

.menu_footer_nav_area > ul > li > a,
.footer_wrap .sc_layouts_menu > ul > li > a {
  font-weight: 700;
}

@media (max-width: 1439px) {
  .error404 .post_content {
    padding: 3.3em 0 5.6em;
  }
}
@media (max-width: 1279px) {
  .sc_layouts_title_breadcrumbs {
    margin-top: 1em;
  }

  .sc_layouts_title .breadcrumbs {
    font-size: 17px;
  }

  .error404 .post_content {
    padding: 2.75em 0 5.3em;
  }

  .sc_layouts_row.sc_layouts_row_fixed_on.sc_layouts_row_fixed_always .custom-logo-link img,
  .sc_layouts_row.sc_layouts_row_fixed_on.sc_layouts_row_fixed_always .sc_layouts_logo img,
  .search_modern .search_header_wrap .logo_image,
  .menu_mobile .sc_layouts_logo img {
    max-height: 45px;
  }

  .search_modern .search_header_wrap .logo_image {
    top: 30px;
  }

  .slider_width_auto .sc_portfolio.sc_portfolio_default .sc_portfolio_slider .slider_container .slider-wrapper.sc_item_columns_4 .swiper-slide .post_featured_bg:before {
    padding-top: 20rem;
  }

  .sc_icons_divider4 .sc_icons_columns_wrap [class*="trx_addons_column-"][class*="-tablet"] .sc_icons_item:after {
    display: none;
  }
}
@media (max-width: 1023px) {
  .sc_layouts_title_breadcrumbs {
    margin-top: 0.8em;
  }

  .error404 .post_content {
    padding: 3.7em 0 4.7em;
  }
  .error404 .page_subtitle {
    margin: 2vw 0 0;
  }

  .search_modern .search_header_wrap .logo_image {
    top: 20px;
  }
}
@media (max-width: 767px) {
  .sc_layouts_title_breadcrumbs {
    margin-top: 0.6em;
  }

  .sc_layouts_title .breadcrumbs {
    font-size: 15px;
  }

  .error404 .post_content {
    padding: 3.5em 0 3.7em;
  }
  .error404 .page_title {
    letter-spacing: 0;
  }
  .error404 .page_subtitle {
    font-size: 30px;
    margin: 3vw 0 0;
  }

  .sc_layouts_row.sc_layouts_row_fixed_on.sc_layouts_row_fixed_always .custom-logo-link img,
  .sc_layouts_row.sc_layouts_row_fixed_on.sc_layouts_row_fixed_always .sc_layouts_logo img,
  .search_modern .search_header_wrap .logo_image,
  .menu_mobile .sc_layouts_logo img {
    max-height: 40px;
  }

  .search_modern .search_header_wrap .logo_image {
    top: 19px;
  }
  .search_modern > .search_submit:before {
    font-size: 22px !important;
  }

  .sc_icons_divider4 .sc_icons_icon + .sc_icons_item_details,
  .sc_icons_divider4 .sc_icons_image + .sc_icons_item_details {
    margin-top: 0;
  }
}

/*# sourceMappingURL=skin-upgrade-style.css.map */
